.task-list {
  .task-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    background-color: #f4f6f7;
    border-radius: 15px 15px 0px 0px;
    font-weight: bold;
    span {
      &:first-child { flex-grow: 2; }
      &:nth-child(2) { flex-basis: 15%; }
      &:last-child { flex-basis: 15%; }
      @media (max-width: 576px) {
        &:first-child { flex-grow: 2; }
        &:nth-child(2) { display: none; }
        &:last-child { flex-basis: 15%; }
      }
    }
  }

  .task-items {
    border-radius:  0px 0px 15px 15px;
    background-color: #f4f6f7;
    .task-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid #ccc;

      @media (max-width: 576px) {
        flex-wrap: wrap;
      }

      > span:first-child {
        flex-grow: 2;
        @media (max-width: 576px) {
          flex-basis: 100%;
          order: 1;
        }
      }

      .task-actions {
        display: flex;
        gap: 10px;

        @media (max-width: 576px) {
          flex-basis: 50%;
          justify-content: end;
          order: 3;

          button {
            span { display: none; }
          }
        }
      }

      .status-indicator-container {
        flex-basis: 10%;
        display: flex;
        justify-content: flex-end;
        margin-right:25px;
        @media (max-width: 576px) {
          flex-basis: 50%;
          justify-content: flex-start;
          order: 2;
          margin-right:0px;
        }

        .status-indicator {
          height: 15px;
          width: 15px;
          border-radius: 50%;
          &.active { background-color: red; }
          &.completed { background-color: green; }
        }
      }
    }
  }
}