<div class="container-flued p-2" *ngIf="customer$ | async as customer">
    <div class="row px-2" >
        <h2> {{customer.firstname + ' ' + customer.lastname}}</h2>
        <div class="col-md-2">
            <mat-card class="card mt-2">
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                </mat-card-header>
                <img  mat-card-image src="https://cdn.pixabay.com/photo/2015/03/04/22/35/avatar-659651_1280.png">
                <mat-card-content>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <button mat-button>Mehr Infos</button>
                </mat-card-actions> -->
            </mat-card>
          </div>
        <div class="col-md-5">
            <mat-card class="card mt-2">
              <mat-card-header>
                <mat-card-title>Persönliche Daten</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div *ngIf="customer" class="customer-details">
                    <p><strong>Vorname:</strong> {{ customer.firstname }}</p>
                    <p><strong>Nachname:</strong> {{ customer.lastname }}</p>
                    <p><strong>E-Mail:</strong> {{ customer.email }}</p>
                    <p><strong>Telefon:</strong> {{ customer.phone }}</p>
                  </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="col-md-5">
            <mat-card class="card mt-2">
                <mat-card-header>
                    <mat-card-title>Adresse</mat-card-title>
                </mat-card-header>
                <mat-card-content>{{address}}</mat-card-content>
                <mat-card-actions>
                  <button mat-button>Mehr Infos</button>
                </mat-card-actions>
            </mat-card>
          </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <mat-card class="card mt-2">
                <mat-card-header>
                    <mat-card-title>Notizen</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    {{note}}
                </mat-card-content>
                <mat-card-actions>
                    <button class="btn btn-primary btn-sm" (click)="showNote()">
                        <i class="fa fa-eye"></i>
                        <span>Ansehen</span>
                      </button>
                      <button class="btn btn-primary btn-sm" (click)="addNote(customer._id)">
                        <i class="fa fa-pencel"></i>
                        <span>Ansehen</span>
                      </button>
                </mat-card-actions>
            </mat-card>
          </div>
        <div class="col-md-8">
            <mat-card class="card mt-2">
                <mat-card-header>
                    <mat-card-title>Verträge</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div></div>
                </mat-card-content>
                <mat-card-actions>
                <app-bottom-btn [text]="'neue Vertrag hinzufügen'" [icon]="'fa fa-plus'" ></app-bottom-btn>
                </mat-card-actions>
            </mat-card>
          </div>
    </div>
    <!-- <app-divider></app-divider>
    <div class="p-2" style="float:right">
        <app-bottom-btn type="submit" [text]="'Erstellen'" [icon]="'fa fa-plus'" (click)="addCustomer()"></app-bottom-btn>
    </div> -->
    
    
</div>
