<div class="mobile-page">

    <!-- HEADER -->
    <div class="mobile-header">
        <h1>Verträge</h1>
        <button class="fab" (click)="create.emit()"><i class="fas fa-plus"></i></button>
    </div>

    <!-- LIST -->
    <div class="card-list">
        <div class="eskapp-card" *ngFor="let c of contracts">
            <div class="status-icon" [ngClass]="c.status" [title]="c.status">
                <span *ngIf="c.status === 'active'"><i class="fas fa-truck"></i></span>
                <span *ngIf="c.status === 'ended'"><i class="fas fa-stop"></i></span>
                <span *ngIf="c.status === 'archived'"><i class="fas fa-archive"></i></span>
                <span *ngIf="c.status === 'draft'"><i class="fas fa-pencel"></i></span>
                <span *ngIf="c.status === 'ended'"><i class="fas fa-times"></i></span>
            </div>
            <div class="card-header">
                <strong>{{ c.contractNumber }}</strong>
            </div>

            <div class="row">
                Kunde: <a *ngIf="c.customerId" class="clickable-link"
                    (click)="showCustomer.emit(c.customerId._id); $event.stopPropagation()" title="Kunde anzeigen">
                    {{ c.customerId?.firstName }} {{ c.customerId?.lastName }}
                </a>
            </div>
            <div class="row">
                Zähler: <a *ngIf="c.meterId" class="clickable-link"
                    (click)="showMeter.emit(c.meterId._id); $event.stopPropagation()" title="Zähler anzeigen">
                    {{ c.meterId?.meterNumber }}
                </a>
            </div>
            <div class="row">
                Anbieter: <a *ngIf="c.supplierId" class="clickable-link"
                    (click)="showSupplier.emit(c.supplierId._id); $event.stopPropagation()" title="Anbieter anzeigen">
                    {{ c.supplierId?.name }}
                </a>

                <div class="row">
                    {{ c.startDate | date:'dd.MM.yyyy' }} – {{ c.endDate | date:'dd.MM.yyyy' }}
                </div>

                <div class="actions">
                    <button (click)="edit.emit(c)"><i class="fas fa-edit"></i>Bearbeiten</button>
                    <button class="danger" (click)="delete.emit(c._id)"><i class="fas fa-trash"></i>Löschen</button>
                </div>

            </div>
        </div>

    </div>