<div class="task-list">
    <div class="task-header">
        <span>Name</span>
        <span>Anschrifft</span>
        <span *ngIf="withActions">Actions</span>
    </div>
    <div class="task-items">
        <div class="task-item" *ngFor="let customer of customers" (click)="selectCustomer(customer)" [ngClass]="{'selected': selectedCustomer === customer}">
            <span>{{ customer.firstname + ' ' + customer.lastname }}</span>
            <span>{{ getAddress(customer.address) }}</span>
            <div class="status-indicator-container">
                <span class="status-indicator"> </span>
            </div>
            <div class="task-actions" *ngIf="withActions">
                <button class="btn btn-primary btn-sm" (click)="goToCustomer(customer); $event.stopPropagation()">
                    <i class="fa fa-eye"></i>
                    <span>Ansehen</span>
                </button>
                <button class="btn btn-secondary btn-sm" (click)="$event.stopPropagation()">
                    <i class="fa fa-edit"></i>
                    <span>Bearbeiten</span>
                </button>
                <button class="btn btn-danger btn-sm" (click)="$event.stopPropagation()">
                    <i class="fa fa-trash-alt"></i>
                    <span>Löschen</span>
                </button>
            </div>
        </div>

        <!-- <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': showModal}" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{ selectedTask?.title }}</h5>
                  <button class="btn btn-danger btn-sm" (click)="closeModal()"><i class="fa fa-times"></i></button>
                </div>
                <div class="modal-body" style="min-height: 300px;">
                  <p>{{ selectedTask?.description }}</p>
                </div>
                <div class="modal-footer">
                  <button  [ngClass]="{'btn-success': selectedTask?.status === 'active', 'btn-danger':selectedTask?.status === 'completed'}"
                           type="button" 
                           class="btn"
                           (click)="toggleTask()">
                           {{ selectedTask?.status === 'active' ? 'Markiere als erledigt' : 'Markiere als nicht erledigt' }}
                  </button>
                 </div>
              </div>
            </div>
          </div> -->
    </div>
</div>