.search-container {
    position: relative;
    width: 100%;
  }
  
  .search-container input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Platz für das Icon */
    margin: 10px 0;
    box-sizing: border-box; /* Stellt sicher, dass Padding und Border im Width enthalten sind */
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    cursor: pointer;
  }