.row {
    align-items: center;
  }
  
  .row.mb-2 {
    border-bottom: 1px solid #eee;
    padding: 8px 0;
  }
  
  .font-weight-bold div {
    font-weight: bold;
  }

  .btn-sm {
    margin-right: 5px;
  }
  
  .card {
    padding: 0;
  }
  
  .btn {
    margin-bottom: 5px;
  }


  .right-aligned {
    text-align: right;
  }

  
  /* Stil für die Actions-Buttons */
  .actions-btn {
    display: flex;
    justify-content: flex-end; /* Rechtsausrichtung der Buttons */
  }
  /* Standardmäßig rechts ausrichten */
.right-aligned {
  text-align: right;
}

/* Für kleine Bildschirme (z.B. unter 600px) */
@media screen and (max-width: 600px) {
  .right-aligned {
    text-align: left; /* oder center, je nach Bedarf */
  }
}