<app-sucher (search)="filterContracts($event)"></app-sucher>
<ng-template #webView>
  <table mat-table [dataSource]="filteredContracts" class="mat-elevation-z8">
    <ng-container matColumnDef="zaehlernummer">
      <th class="header-text" mat-header-cell *matHeaderCellDef>Zählernummer</th>
      <td mat-cell *matCellDef="let counter">{{counter.zaehlernummer}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th class="header-text" mat-header-cell *matHeaderCellDef>Zählerart</th>
      <td mat-cell *matCellDef="let counter">{{counter.type}}</td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th class="header-text" mat-header-cell *matHeaderCellDef>Anschrifft</th>
      <td mat-cell *matCellDef="let counter">{{getAddress(counter.address)}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th class="header-text right-aligned" mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let counter" class="right-aligned">
        <div class="actions-btn">
          <button class="btn btn-primary btn-sm" (click)="showVertrag(counter)">
            <i class="fa fa-eye"></i>
            <span>Ansehen</span>
          </button>
          <button class="btn btn-secondary btn-sm" (click)="editVertrag(counter)">
            <i class="fa fa-edit"></i>
            <span>Bearbeiten</span>
          </button>
          <button class="btn btn-danger btn-sm" (click)="deleteVertrag(counter)">
            <i class="fa fa-trash-alt"></i>
            <span>Löschen</span>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-template>

<div id="mobile-view" *ngIf="isMobile else webView">
  <p>HIER MUSS MOBILE SICHT IMPLEMENTIERT WERDEN NOCH</p>
</div>