<div class="task-list">
  <div class="task-header">
      <span>Zaehlernummer</span>
      <span>Anschrifft</span>
      <span>Type</span>
      <span *ngIf="withActions">Actions</span>
  </div>
  <div class="task-items">
      <div class="task-item" *ngFor="let counter of counters" (click)="selectCounter(counter)" [ngClass]="{'selected': selectedCounter === counter}">
          <span>{{ counter.zaehlernummer }}</span>
          <span>{{ getAddress(counter.address) }}</span>
          <span>{{ counter.type }}</span>

          <div class="task-actions" *ngIf="withActions">
              <button class="btn btn-primary btn-sm" (click)="goToCounter(counter); $event.stopPropagation()">
                  <i class="fa fa-eye"></i>
                  <span>Ansehen</span>
              </button>
              <button class="btn btn-secondary btn-sm" (click)="$event.stopPropagation()">
                  <i class="fa fa-edit"></i>
                  <span>Bearbeiten</span>
              </button>
              <button class="btn btn-danger btn-sm" (click)="$event.stopPropagation()">
                  <i class="fa fa-trash-alt"></i>
                  <span>Löschen</span>
              </button>
          </div>
      </div>
  </div>
</div>