.row {
    align-items: center;
  }
  
  .row.mb-2 {
    border-bottom: 1px solid #eee;
    padding: 8px 0;
  }
  
  .font-weight-bold div {
    font-weight: bold;
  }

  .btn-sm {
    margin-right: 5px;
  }
  
  .card {
    padding: 0;
  }
  
  .btn {
    margin-bottom: 5px;
  }