.container {
 
    .quick-links {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  
      .quick-link {
        flex: 1;
        text-align: center;
        padding: 20px;
        background-color: #ddd;
        border-radius: 8px;
      }
    }
    @media (max-width: 576px) {
        .dash-card{margin-bottom:5px}
    }
  }

  .dash-card {
    min-height: 200px;
    background-color: #f4f6f7;
    cursor: pointer;
  }
  .show-more {
    text-align: end;
    padding: 10px;
    cursor: pointer;
  }