<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="card dash-card">
                <div class="card-header"> Kundendaten </div>
                <div *ngIf="customer$ | async as customer" class="card-body">
                    <h5 class="card-title">{{customer.firstname+' '+ customer.lastname}}</h5>
                    <hr/>
                    <h5 class="card-title">Adresse:</h5>
                    <app-address></app-address>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card dash-card">
                <div class="card-header"> Vertragsdaten </div>
                <div *ngIf="contract$ | async as contract" class="card-body">
                    <h5 class="card-title">{{'Vertragsnummer : '+contract.vertragnummer}}</h5>
                    <h5 class="card-title">{{'Zählernummer : '+contract.zaehlernummer}}</h5>
                    <h5 class="card-title">{{'Begin : '+contract.vertragstart}}</h5>
                    <h5 class="card-title">{{'Ende : '+contract.vertragsende}}</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card dash-card">
                <div class="card-header"> Details </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-secondary btn-sm">
                        <i class="fa fa-edit"></i>
                        <span>Bearbeiten</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>

</div>