input, select {
    margin: 5px 0;
    padding: 8px;
    width: 100%;
  }

  .example-form-field {
    margin-bottom: 16px; /* Abstand nach unten für jedes Formularfeld */
    width: 100%; /* Stellt sicher, dass das Formularfeld die volle Breite einnimmt */
  }