<div class="container-fluid">

    <div class="row card-container">
        <div class="col-sm-3 mb-1">
            <div class="card text-center dash-card">
                <div class="card-body" routerLink="/vertraege">
                    <h5 class="card-title">Verträge</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-1">
            <div class="card text-center dash-card">
                <div class="card-body" routerLink="/kunden">
                    <h5 class="card-title">Kunden</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-1">
            <div class="card text-center dash-card">
                <div class="card-body" routerLink="/aufgaben">
                    <h5 class="card-title">Aufgaben</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-1">
            <div class="card text-center dash-card">
                <div class="card-body" routerLink="/zaehler">
                    <h5 class="card-title">Zählern</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-3" *ngIf="tasks$ | async as tasks">
        <app-tasks-list [tasks]="tasks" [maxTasksToShow]="5"></app-tasks-list>
        <div class="show-more" routerLink="/aufgaben">mehr anzeigen...</div>
    </div>

</div>